@media screen and (min-width: 900px) {
    #restaurant-img {
        width: 50%;
    }
    #restaurant-details {
        width: 50%;
    }
    .inside {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #mainpage {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 900px) {
    #restaurant-img {
        width: 90%;
    }
    .inside {
        margin-left: auto;
        margin-right: auto;
    }
    #restaurants-list li {
        width: 100%;
    }
    #mainpage {
        margin-left: auto;
        margin-right: auto;
    }
}